/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
    transition: background-color 0.5s, color 0.5s;
  }
  
  body.light-mode {
    background-color: white;
    color: black;
  }
  
  body.dark-mode {
    background-color: #18191a;
    color: rgb(0, 0, 0);
  }

  body.dark-mode .post-box{
    background-color: #616161;
    color: rgb(247, 247, 247);
  }
  